body{
    background: url('../assets/imagemEscola2.webp') center/cover no-repeat;
}

.secao_item {
    display: flex;
    width: 100%;           
    overflow: hidden; 
    transition: transform 0.5s ease; 
}

.item {
    flex: 0 0 100%;        
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item_titulo{
    color: white;
    margin: 20px auto;
    text-align: center;
    width: 200px;
    border-radius: 7px;
    padding: 10px;
    background-color: #043980;
}

.item_descricao{
    border-radius: 7px;
    color: white;
    font-weight: bold;
    margin: 20px auto;
    width: 80vw;
    text-align: center;
}

.item_imagem{
    width: 50vw;
    height: 32vw;
    border-radius: 7px;
}

.carrossel_botoes {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carrossel_botoes button {
    width: fit-content;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #043980;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.carrossel_botoes button:hover {
    background: #0654bb;
}

.carrossel_botoes button.active {
    background: #0a7aff;
}
