body{
    background-image: url("../assets/Rectangle.png");
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    max-width: 1400px;
    font-family: sans-serif;
}

.menu{
    padding: 0 60px;
    height: 9%;
    width: 92.05%;
    margin: 0;
    top: 0;
    left: 0px;
    background-color: blue;
    position: absolute;
    float: left;
    overflow-x: none;
}


.menu li{
        position: relative;
        float: left;
        top: 10px;
        left: 20%;
        margin: auto 20px;
        width: 110px;
        color:#ffffff;
        list-style: none;
    }

.menu .LiLink{
    position: relative;
    float: left;
    top: 8px;
    left: 0%;
    margin: auto 20px;
    width: 110px;
    color:#ffffff;
    list-style: none;
}

li .links {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    width: 175%;
    bottom: 10px;
    right: 10px;
}

li .links:hover{
    background-color: #ffffff;
    color: #167681;
    border-radius: 30px;
    border-width: 2%;
    border-radius: 10px;
    transition: background-color 5ms ease;
}

.logo{
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    width: 60px;
    left: 190%;
    top: -15px;
    text-decoration: none;
}

.altP{
    position: absolute;
    left: 260%;
    top: 0px;
    font-size: medium;
    font-style: italic;
    white-space: nowrap;
}

.links, menu .primeiroLi {
    text-decoration: none;
    color:#ffffff;
    padding: 5px;
    position: relative;
}

.links:hover {
    color:#167681;
}

/* div sala altera proporção do texto e da imagem conforme height*/

.sala{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 10%;
    font-size: 12px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: snow;
}


.sala h2{
    text-align: center;
    background-color: yellow;
}


img{
    position: absolute;
    left: 25px;
    padding: 5 5px;
    border-radius: 5px;
    object-fit: cover;
}

button{
    position: relative;
    left: 11%;
    background-color: orange;
    border: 5px solid orange;
}

.imgsI{
    top: 7%;
    width: 30%;
    height: 28%;
    background-color: firebrick;
    border: 1px solid firebrick;
}

.botI{
    bottom: 4%;
}

p{
    position: relative;
    text-align: left;
    left: 35%;
    max-width: 500px;
}

.Pdesc{
    top: 4%;
    width: 35%;
    height: 14%;
    left: 35%;
    font-size: 14px;
    background-color: steelblue;
    border: 4px solid black;
    border-radius: 10px;
    color: snow;
}


.Pdesc-1{
    top: 4%;
    width: 35%;
    height: 14%;
    left: 35%;
    font-size: 14px;
    background-color: steelblue;
    border: 4px solid black;
    border-radius: 10px;
    color: snow;
}

.rodape{
    position: relative;
    width: 108%;
    top: 150%;
    height: 45px;
    float: left;
    right: 8px;
    overflow: hidden;
}
