* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    color: #333;
}

header {
    background: #043980;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    font-size: 1.5em;
    margin: 10px;
    width: 100%;
    font-weight: bold;
}

header .logo
{
    display: flex;
    align-items: center;
}

header .logo img
{
    width: 80px;
}

header nav
{
    width:  fit-content;   
    display:  flex;
    align-items: center;
    justify-content: end;
}

header nav a {
    color: white;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

header nav a:hover {
    background-color: white;
    color: black;
}

/* Hero */
.hero {
    background: url('../assets/imagemEscola2.webp') center/cover no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: white;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    background: #ffdd33;
    padding: 12px 25px;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #ffcc00;
}

/* Sobre */
.sobre {
    padding: 50px;
    text-align: center;
    background: white;
}

.sobre h2 {
    margin-bottom: 20px;
}

/* Serviços */
.servicos {
    padding: 50px;
    text-align: center;
}

.noticias
{
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background: #043980;
    color: white;
    margin-top: 30px;
}
