h2{
    color: white;
    margin: 20px auto;
    text-align: center;
    width: 200px;
    border-radius: 7px;
    padding: 10px;
    background-color: #043980;
}


/*div pai*/
.menu{
    margin: auto;
    width: 99%;
    justify-content: center;
    border: 2px solid #043980;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.menu img{ 
    height: 155px;
    width: 160px;
}

.item{
    position: relative;
    margin: 10px;
}

.sub-menu{
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    border-radius: 5px;
}

/*altera o sub-menu ao encostar na imagem*/
.item:hover .sub-menu{
    text-align: center;
    display: block;
}