.hero {
    background: url('../assets/imagemEscola2.webp') center/cover no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: white;
}

body
{
	background: white;
}

.sem-noticias {
    text-align: center;
    font-style: italic;
    color: #666;
    margin-top: 20px;
}


.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Sobre */
.sobre {
    padding: 50px;
    text-align: center;
    background: white;
}

.sobre h2 {
    margin-bottom: 20px;
}

/* Serviços */
.servicos {
    padding: 50px;
    text-align: center;
}

.noticias
{
	text-align: center;

}

.card_noticia
{
    background: white;
    width: 280px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.card_noticia h2
{
	font-size: 1.1em;
}

.card_noticia .card_noticia_image
{
    position: relative;
    
}

.detalhe-noticia summary {
    cursor: pointer;
    font-weight: 600;
}

.detalhe-noticia p {
    padding: 10px;
    margin-top: 5px;
}

.card_noticia .card_noticia_image .dataFormatada
{
    position: absolute;
    color: black;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}


