* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #043980;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    font-size: 1.5em;
    margin: 10px;
    width: 100%;
    font-weight: bold;
}

header .logo
{
    display: flex;
    align-items: center;
}

header .logo img
{
    width: 80px;
}

header nav
{
    width:  fit-content;   
    display:  flex;
    align-items: center;
    justify-content: end;
}

header nav a {
    color: white;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

header nav a:hover {
    background-color: white;
    color: black;
}


body{
    background: url('../assets/imagemEscola2.webp') center/cover no-repeat;
    padding-bottom: 100px;
}

h2{
    color: white;
    margin: 20px auto;
    text-align: center;
    width: 200px;
    border-radius: 7px;
    padding: 10px;
    background-color: #043980;
}


/*div pai*/
.menu{
    margin: auto;
    width: 99%;
    justify-content: center;
    border: 2px solid #043980;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
}
.menu img{ 
    height: 155px;
    width: 160px;
}

.item{
    position: relative;
    margin: 10px;
}

.sub-menu{
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    border-radius: 5px;
}

/*altera o sub-menu ao encostar na imagem*/
.item:hover .sub-menu{
    text-align: center;
    display: block;
}