* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #043980;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    font-size: 1.5em;
    margin: 10px;
    width: 100%;
    font-weight: bold;
}

header .logo
{
    display: flex;
    align-items: center;
}

header .logo img
{
    width: 80px;
}

header nav
{
    width:  fit-content;   
    display:  flex;
    align-items: center;
    justify-content: end;
}

header nav a {
    color: white;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

header nav a:hover {
    background-color: white;
    color: black;
}


body{
    margin: 0;
    overflow: hidden;
    /*Background*/
    background-image: url("../assets/Rectangle.png"); /* define a imagem de fundo */
    background-repeat: no-repeat;  /* define se a imagem se repete */
    background-size: 100% 100%;  /* define o tamanho */
    background-position:bottom;  /* define a posição inicial */
    background-attachment: fixed;  /* ??? */
}

h3 a{
    position: relative;
    color: white;
    margin-top: 20px;
    padding: 3 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    background-color: #07335a;
}

h3 a:hover
{
    color: black;
    background-color:#F0E5CF;
}

/*div pai*/
.menu{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 99%;
    height: auto;
    border: 2px solid #07335a;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.menu img{ /*ta desproporcional na div eu sei, tentei arrumar e não consegui*/
    position: relative;
    left:50px;
    float:none;
    height: 155px;
    width: 160px;
}
/*Necessario para poder botar as imagens certinho dentro da div pai [menu]*/
/*Nao recomendo alterar, a nao ser que queira trocar para uma lista em vez de blocos*/
.item{
    position: relative;
    display: inline-block;
}

.sub-menu{
    /*posiçao, tamanho e dimensao*/
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*background*/
    /*background-image: url("../assets/Rectangle.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    /*transparencia e transiçao*/
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: scale(0);
    transition: transform 0s linear 0.3s;
}
.sub-menu img{
    left:auto;
}
.sub-menu-alt{
    /*posiçao, tamanho e dimensao*/
    position: absolute;
    bottom:-23%;
    left: 40px;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*background*/
    /*background-image: url("../assets/Rectangle.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    /*transparencia e transiçao*/
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: scale(0);
    transition: transform 0s linear 0.3s;
}
.sub-menu-alt img{
    left:auto;
}

/*altera o sub-menu ao encostar na imagem*/
.item:hover .sub-menu{
    text-align: center;
    opacity: 1;
    width:110%;
    height:225%;
    border: 1px solid black;
    overflow: auto;
    transform: scale(1);
    transition-delay: 0s;
}
/*altera o sub-menu das imagens de baixo*/
.item:hover .sub-menu-alt{
    text-align: center;
    opacity: 1;
    width:110%;
    height:225%;
    border: 1px solid black;
    overflow: auto;
    transform: scale(1);
    transition-delay: 0s;
}

h1,h2,h3{
    text-align: center;
}

h2{
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 170px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #07335a;
}

.sub-menu span{
    font-size: larger;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.5);
}

.sub-menu-alt span{
    font-size: larger;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.5);
}
