* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #043980;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    font-size: 1.5em;
    margin: 10px;
    width: 100%;
    font-weight: bold;
}

header .logo
{
    display: flex;
    align-items: center;
}

header .logo img
{
    width: 80px;
}

header nav
{
    width:  fit-content;   
    display:  flex;
    align-items: center;
    justify-content: end;
}

header nav a {
    color: white;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.2s ease, color 0.2s ease;
}

header nav a:hover {
    background: white;
    color: black;
}

footer {
    text-align: center;
    padding: 20px;
    background: #043980;
    color: white;
    margin-top: 30px;
}