body{
    background-image: url("../assets/Rectangle.png");
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    max-width: 1400px;
    font-family: sans-serif;
}

/* códigos .menu até .ALink do menu dos locais para navegação entre páginas */

.menu{
    padding: 0 60px;
    height: 9%;
    width: 92.05%;
    margin: 0;
    top: 0;
    left: 0px;
    background-color: slateblue;
    position: absolute;
    float: left;
    overflow-y: none;
}

.menu li{
    position: relative;
    float: left;
    top: 10px;
    left: 20%;
    margin: auto 20px;
    width: 110px;
    color:#ffffff;
    list-style: none;
}

.menu .LogoLi{
    position: absolute;
    float: left;
    top: 25px;
    left: 22%;
    width: 110px;
    color:#ffffff;
    list-style: none;
}

.LogoLi p{
    position: relative;
    width: 240%;
    right: 250%;
    bottom: 20px;
}

li .links {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    width: 90%;
    bottom: 10px;
}

li .links:hover{
    background-color: #ffffff;
    color: black;
    border-radius: 30px;
    border-width: 2%;
    border-radius: 10px;
    transition: background-color 5ms ease;
}

.logo{
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    width: 60px;
    right: 360%;
    top: -15px;
    text-decoration: none;
}


alt{    /* descrição para o logo do colégio */
    position: absolute;
    right: 5%;
    top: 0px;
    white-space: nowrap;
}


.links, menu .primeiroLi,
menu .segundoLi,
menu .terceiroLi {
    text-decoration: none;
    color:#ffffff;
    padding: 5px;
    position: relative;
}


.links:hover {
    color: black;
}


.ALink{
    position: absolute;
    float: left;
    width: 150px;
    top: 9%;
    left: 0%;
    color:#ffffff;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
    background-color: slateblue;
}


.ALink:hover{
    background-color: #ffffff;
    color: black;
    border-width: 10%;
    transition: background-color 5ms ease;
}


.tituloInterior{ /* Titulo e par adcionados para ficarem parecidos com suas contrapartes de exterior */
    position: absolute;
    top: 100px;
    left: 42%;
    width: 15%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: snow;
}

.parInt{
    position: relative;
    top: 180px;
    left: 5%;
    right: 5%;
    max-width: 75%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: snow;
    text-align: center;
}

.interior{
    width: 33%;
    height: 520px;
    float: left;
    position: relative;
    top: 200px;
    left: 50px;
    background-color: snow;
    text-align: center;
    overflow: hidden;
}

.imgsI{
    position: absolute;
    top: 50px;
    right: 5%;
    width: 85%;
    height: 50%;
    padding: 10 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.imgsI:hover{
    transform: scale(1.1);
}

.intHeadsA{
    position: absolute;
    top: 350px;
    left: 35%;
}

.intHeads{
    position: absolute;
    top: 350px;
    left: 20%;
}

.intHeadsB{
    position: absolute;
    top: 350px;
    left: 40%;
}

.intP{
    position: absolute;
    top: 390px;
}

.tituloExterior{
    clear: both;
    position: absolute;
    width: 15%;
    top: 115%;
    left: 40%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: snow;
}

.parExt{
    clear: both;
    position: absolute;
    top: 126%;
    left: 5%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: snow;
    text-align: center;
}

.exterior{
    width: 33%;
    height: 500px;
    float: left;
    background-color: snow;
    position: relative;
    top: 400px;
    left: 50px;
    text-align: center;
    overflow: hidden;
}


.imgsII{
    position: absolute;
    top: 50px;
    right: 5%;
    width: 85%;
    height: 50%;
    padding: 10 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    transition: transform 0.4s ease;
}

.imgsII:hover{ /* Faz com que imagens de interior/exterior sejam projetadas, junto de transition na classe original */
    transform: scale(1.1);
}


.extHeadsP{
    position: absolute;
    top: 350px;
    left: 46%;
}

.extHeadsR{
    position: absolute;
    top: 350px;
    left: 43%;
}

.extHeadsQ{
    position: absolute;
    top: 350px;
    left: 33%;
}

.extP{
    position: absolute;
    top: 390px;
}

.rodape{ /* Rodape adicionado para criar mais espaço após as divs desse exterior */
    position: relative;
    width: 108%;
    top: 80%;
    height: 45px;
    float: left;
    right: 8px;
    overflow: hidden;
    background-color: springgreen;
    text-align: center;
}
