body{
    background-image: url("../assets/Rectangle.png");
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    max-width: 1400px; /* Adicionei pois tinha problemas de zoom, sendo que a pagina só funcionava em 90% */
    font-family: sans-serif;
}


a{
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3 10px;
    background-color: snow;
}


.tituloInterior{ /* Titulo e par adcionados para ficarem parecidos com suas contrapartes de exterior */
    position: absolute;
    top: 60px;
    left: 45%;
    border: 5px solid snow;
    border-radius: 5px;
    background-color: snow;
}

.parInt{
    position: absolute;
    top: 150px;
    left: 5%;
    right: 5%;
    border: 5px solid snow;
    border-radius: 5px;
    background-color: snow;

}

.interior{
    width: 33%;
    height: 520px;
    float: left;
    position: relative;
    top: 200px;
    left: 50px;
    background-color: snow;
    text-align: center;
    overflow: hidden;
}

.imgsI{
    position: absolute;
    top: 50px;
    right: 5%;
    width: 85%;
    height: 50%;
    padding: 10 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.imgsI:hover{
    transform: scale(1.1);
}

.intHeadsA{
    position: absolute;
    top: 350px;
    left: 35%;
}

.intHeads{
    position: absolute;
    top: 350px;
    left: 20%;
}

.intHeadsB{
    position: absolute;
    top: 350px;
    left: 40%;
}

.intP{
    position: absolute;
    top: 390px;
}

.tituloExterior{
    clear: both;
    position: absolute;
    top: 110%;
    left: 45%;
    border: 5px solid snow;
    border-radius: 5px;
    background-color: snow;
}

.parExt{
    clear: both;
    position: absolute;
    top: 122%;
    left: 5%;
    border: 5px solid snow;
    border-radius: 5px;
    background-color: snow;
}

.exterior{
    width: 33%;
    height: 500px;
    float: left;
    background-color: snow;
    position: relative;
    top: 400px;
    left: 50px;
    text-align: center;
    overflow: hidden;
}


.imgsII{
    position: absolute;
    top: 50px;
    right: 5%;
    width: 85%;
    height: 50%;
    padding: 10 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    transition: transform 0.4s ease;
}

.imgsII:hover{ /* Faz com que imagens de interior/exterior sejam projetadas, junto de transition na classe original */
    transform: scale(1.1);
}


.extHeadsP{
    position: absolute;
    top: 350px;
    left: 46%;
}

.extHeadsR{
    position: absolute;
    top: 350px;
    left: 43%;
}

.extHeadsQ{
    position: absolute;
    top: 350px;
    left: 33%;
}

.extP{
    position: absolute;
    top: 390px;
}

.rodape{ /* Rodape adicionado para criar mais espaço após as divs desse exterior */
    width: 100%;
    height: 500px;
    float: left;
    overflow: hidden;
}
