body{
    /*Background*/
    background-image: url("../assets/Rectangle.png"); /* define a imagem de fundo */
    background-repeat: no-repeat;  /* define se a imagem se repete */
    background-size: 100% 100%;  /* define o tamanho */
    background-position:bottom;  /* define a posição inicial */
    background-attachment: fixed;  /* ??? */
}

a{
    position: absolute;
    margin-top: 1.5%;
    padding: 3 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    background-color: lightgray
}

/*div pai*/
.menu{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.menu img{ /*ta desproporcional na div eu sei, tentei arrumar e não consegui*/
    position: relative;
    left:35px;
    float:none;
    height: 200px;
    width: 195px;
}
/*Necessario para poder botar as imagens certinho dentro da div pai [menu]*/
/*Nao recomendo alterar, a nao ser que queira trocar para uma lista em vez de blocos*/
.item{
    position: relative;
    display: inline-block;
}

.sub-menu{
    /*posiçao, tamanho e dimensao*/
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*background*/
    background-image: url("../assets/Rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    /*transparencia e transiçao*/
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: scale(0);
    transition: transform 0s linear 0.3s;
}
.sub-menu img{
    left:auto;
}
.sub-menu-alt{
    /*posiçao, tamanho e dimensao*/
    position: absolute;
    bottom:-23%;
    left: 25px;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*background*/
    background-image: url("../assets/Rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    /*transparencia e transiçao*/
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: scale(0);
    transition: transform 0s linear 0.3s;
}
.sub-menu-alt img{
    left:auto;
}

/*altera o sub-menu ao encostar na imagem*/
.item:hover .sub-menu{
    text-align: center;
    opacity: 1;
    width:110%;
    height:225%;
    border: 1px solid black;
    overflow: auto;
    transform: scale(1);
    transition-delay: 0s;
}
/*altera o sub-menu das imagens de baixo*/
.item:hover .sub-menu-alt{
    text-align: center;
    opacity: 1;
    width:110%;
    height:225%;
    border: 1px solid black;
    overflow: auto;
    transform: scale(1);
    transition-delay: 0s;
}

h1,h2,h3{
    text-align: center;
}

h2{
    font-weight: bold;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    margin-bottom: 20px;
    width: 170px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: lightgray;
}