body
{
    margin: 0;
    background-image: url("../assets/Rectangle.png"); /* define a imagem de fundo */
    background-repeat: no-repeat;  /* define se a imagem se repete */
    background-size: 100% 100%;  /* define o tamanho */
    background-position:bottom;  /* define a posição inicial */
    background-attachment: fixed;  /* ??? */
}

.conteudo
{
    background-color: snow;
    width: 80%;
    height: 100%;
    margin: 0 10%;
}

.conteudo .conteudo-nav
{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo .conteudo-nav .texto-destaque
{
    font-family: sans-serif;
    background-color: lightpink;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 10px;
}

.conteudo .conteudo-nav .nav-links
{
    display: flex;
    justify-content: space-evenly;
}

.conteudo .conteudo-nav .nav-links a
{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    background-color: lightpink;
    border-radius: 10px;
    padding: 5px 15px;
}

.conteudo .conteudo-nav .nav-links a:hover
{
    background-color: lightcoral
}

.conteudo .conteudo-texto
{
    float: left;
    height: 85%;
    width: 60%;
}

.conteudo .conteudo-texto p
{
    font-family: sans-serif;
    text-align: left;
    margin: 15px 10px;
    word-spacing: 5px;
    line-height: 1.2;
}

.conteudo .conteudo-imagens
{
    float: right;
    height: 85%;
    width: 40%;
    background-color: lightpink;
    display: grid;
    justify-content: center;
    border-top-left-radius: 10px;
}

.conteudo .conteudo-imagens img
{
    margin-top: 20px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}