body{
    background-image: url("Rectangle.png");
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    max-width: 1400px;
    max-height: 1400px;
    font-family: sans-serif;
}

.menu{
    padding: 0 60px;
    height: 9%;
    width: 92.05%;
    margin: 0;
    top: 0;
    left: 0px;
    background-color: slateblue;
    position: absolute;
    float: left;
    overflow-x: none;
}


.menu li{
        position: relative;
        float: left;
        top: 10px;
        left: 20%;
        margin: auto 20px;
        width: 110px;
        color:#ffffff;
        list-style: none;
    }

.menu .LiLink{
    position: relative;
    float: left;
    top: 8px;
    left: 0%;
    margin: auto 20px;
    width: 110px;
    color:#ffffff;
    list-style: none;
}

li .links {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    width: 175%;
    bottom: 10px;
    right: 10px;
}

li .links:hover{
    background-color: #ffffff;
    color: #167681;
    border-radius: 30px;
    border-width: 2%;
    border-radius: 10px;
    transition: background-color 5ms ease;
}

.logo{
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    width: 60px;
    left: 190%;
    top: -15px;
    text-decoration: none;
}


h3{
    position: absolute;
    left: 65px;
    font-size: 14px;
}


.altP{
    position: absolute;
    left: 260%;
    top: 0px;
    font-size: medium;
    font-style: italic;
    white-space: nowrap;
}

.links, menu .primeiroLi {
    text-decoration: none;
    color:#ffffff;
    padding: 5px;
    position: relative;
}

.links:hover {
    color:#167681;
}

/* div com descrição dos locais */

.sala{
    position: absolute;
    width: 100%;
    height: 180%;
    left: 0px;
    top: 10%;
    font-size: 12px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: snow;
}


.H2sala{
    text-align: center;
    background-color: yellow;
}


img{
    position: absolute;
    left: 25px;
    padding: 5 5px;
    border-radius: 5px;
    object-fit: cover;
}

button{
    position: relative;
    left: 10%;
    background-color: orange;
    border: 5px solid orange;
}

.imgsI{
    top: 7%;
    width: 26%;
    height: 22%;
    background-color: firebrick;
    border: 1px solid firebrick;
}

.botI{
    bottom: 7%;
}

.imgsII{
    top: 37%;
    width: 26%;
    height: 22%;
    background-color: firebrick;
    border: 1px solid firebrick;
}

.botII{
    bottom: 13%;
}

.imgsIII{
    top: 67%;
    width: 26%;
    height: 22%;
    background-color: firebrick;
    border: 1px solid firebrick;
}

.botIII{
    bottom: 19%;
}

.HTitulo1{
    top: 4%;
}

.HTitulo2{
    top: 34%;
}


.HTitulo3{
    top: 64%;
}

p{
    position: relative;
    text-align: left;
    left: 35%;
    max-width: 500px;
}

.Pdesc{
    top: 6%;
    width: 27%;
    height: 14%;
    left: 30%;
    font-size: 14px;
    background-color: steelblue;
    border: 4px solid black;
    border-radius: 10px;
    color: snow;
}


.Pdesc-1{
    bottom: 11.8%;
    width: 34%;
    height: 14%;
    left: 59%;
    font-size: 14px;
    background-color: steelblue;
    border: 4px solid black;
    border-radius: 10px;
    color: snow;
}

.PdescII{
    top: 2%;
    width: 27%;
    height: 14%;
    left: 30%;
    font-size: 14px;
    background-color: rosybrown;
    border: 4px solid black;
    border-radius: 10px;
    color: snow;
}


.Pdesc-2{
    bottom: 15.7%;
    width: 34%;
    height: 14%;
    left: 59%;
    font-size: 14px;
    background-color: rosybrown;
    border: 4px solid black;
    border-radius: 10px;
    color: snow;
}


.PdescIII{
    bottom: 5%;
    width: 27%;
    height: 14%;
    left: 30%;
    font-size: 14px;
    background-color: seagreen;
    border: 4px solid black;
    border-radius: 10px;
    color: snow;
}


.Pdesc-3{
    bottom: 22.7%;
    width: 34%;
    height: 14%;
    left: 59%;
    font-size: 14px;
    background-color: seagreen;
    border: 4px solid black;
    border-radius: 10px;
    color: snow;
}

.rodape{
    position: relative;
    width: 108%;
    top: 200%;
    height: 45px;
    float: left;
    right: 8px;
    overflow: hidden;
    background-color: springgreen;
}

.rodapeP{
    position: absolute;
    left: 45%;
}
