body{
    background-image: url("../assets/Rectangle.png");
    background-size: 100% 100%;
    background-position:bottom;
    background-attachment: fixed;
    max-width: 1400px;
    max-height: 1400px;
    font-family: sans-serif;
}

.menu{
    padding: 0 60px;
    height: 9%;
    width: 92.05%;
    margin: 0;
    top: 0;
    left: 0px;
    background-color: slateblue;
    position: absolute;
    float: left;
    overflow-x: none;
}


    .menu li{
        position: relative;
        float: left;
        top: 10px;
        left: 20%;
        margin: auto 20px;
        width: 110px;
        color:#ffffff;
        list-style: none;
    }

.menu .LiLink{
    position: relative;
    float: left;
    top: 8px;
    left: 0%;
    margin: auto 20px;
    width: 110px;
    color:#ffffff;
    list-style: none;
}

li .links {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    width: 175%;
    bottom: 10px;
    right: 10px;
}

li .links:hover{
    background-color: #ffffff;
    color: #167681;
    border-radius: 30px;
    border-width: 2%;
    border-radius: 10px;
    transition: background-color 5ms ease;
}

.logo{
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    width: 60px;
    left: 190%;
    top: -15px;
    text-decoration: none;
}

alt{
    position: absolute;
    left: 260%;
    top: 0px;
    white-space: nowrap;
}

.links, menu .primeiroLi {
    text-decoration: none;
    color:#ffffff;
    padding: 5px;
    position: relative;
}

.links:hover {
    color:#167681;
}

/* div com descrição dos locais */

.sala{
    position: absolute;
    width: 100%;
    height: 120%;
    left: 0px;
    top: 10%;
    font-size: 12px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: snow;
}


.H2sala{
    text-align: center;
    background-color: yellow;
}


img{
    position: absolute;
    left: 25px;
    padding: 5 5px;
    border-radius: 5px;
    object-fit: cover;
}

.imgsI{
    top: 10%;
    width: 30%;
    height: 37%;
    background-color: firebrick;
    border: 1px solid firebrick;
}


.imgsII{
    top: 60%;
    width: 30%;
    height: 37%;
    background-color: firebrick;
    border: 1px solid firebrick;
}

h3{
    position: absolute;
    left: 65px;
    font-size: 14px;
}

.HTitulo1{
    top: 6%;
}

.HTitulo2{
    top: 56%;
}
p{
    position: relative;
    text-align: left;
    left: 35%;
    max-width: 500px;
}
.Pdesc{
    top: 10%;
}

.PdescII{
    top: 40%;
}

.rodape{
    position: relative;
    width: 108%;
    top: 200%;
    height: 45px;
    float: left;
    right: 8px;
    overflow: hidden;
    background-color: springgreen;
    text-align: center;
}
