<HTML>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/estilos/EstiloDoc.css"/>
    </head>
    <body>
        <h2>Corpo Docente</h2>
        <h3><a href="pagInicial.html">Voltar a página anterior</a></h3>
        <div class="menu">

            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa1"> <!--Imagem menu-->
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa1"> <!--Imagem sub-menu-->
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa2">
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa2">
                        <h3>Fulano de Thal</h3>
                        <span>Faal aarzir voth raukzul
                        ii guh vuthaar kriviin
                        Zoorin ahraanaa koor thul zan
                        Feer dhaal uurok oon majah</span>

                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa3">
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa3">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa4">
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa4">
                        <h3>DORO</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa5">
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa5">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa6">
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa6">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa7">
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa7">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>
            
            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa8">
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa8">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/Profile.png" alt="pessoa9">
                    <div class="sub-menu">
                        <img src="../static/assets/Profile.png" alt="pessoa9">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>
            <!--Apartir da pessoa10 deve utilizar a classe sub-menu-alt-->
            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa10">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa10">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa11">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa11">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa12">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa12">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa12">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa13">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa12">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa14">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa12">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa15">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa12">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa16">
                        <h3>Nymeia</h3>
                        <span>Ella domina l’elemento acqua ed è associata alla quarta luna del calendario di Eorzea.
                            Nymeia è raffigurata come una tessitrice che indossa un velo di seta bianca,
                            il simbolo che la rappresenta è la ruota del filato.</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa12">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa17">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>

            <div class="item">
                <img src="../static/assets/logo.png" alt="pessoa12">
                    <div class="sub-menu-alt">
                        <img src="../static/assets/logo.png" alt="pessoa18">
                        <h3>NOME PROFESSOR</h3>
                        <span>TEXTO DE PERFIL</span>
                    </div>
            </div>
        </div>
    </body>
</HTML>