<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../static/estilos/estiloSala.css" />
<script src="../static/estilos/ScriptLocal.js"></script>
</head>

<body>
    <!--  ../assets/  -->
    <div class="menu">

<ul>
    <li><img class="logo" src="../static/assets/BandRS.jpg"/> <alt class="altP">Texto Grande nome da escola</alt> </li>
</ul>


<ul>
    <li class="LiLink"><a href="pagLocal.html" class="links">Voltar para página anterior</a></li>
</ul>

</div>

    <div class="sala">
        <h2>Sobre nossas salas de aula</h2>


        <!--- primeira imagem com texto --->
        <h3 class="HTitulo1">Salas usadas pelo ensino fundamental (1° ao 3° ano)</h3>

        <p class="Pdesc">O ambiente é organizado de forma simples e funcional. Em cada canto da parede do fundo, dois armários pequenos
            que guardam os materiais coletivos da turma.  Logo acima deles, dois quadros de avisos azuis são fixados na parede,
            sendo um menor que o outro.
        </p>

        <br />

        <p class="Pdesc-1">
            O chão é ocupado por mesas e cadeiras de cores vibrantes – as mesas são azuis, e as cadeiras
            têm assentos e encostos coloridos, e contrastando com a praticidade de suas patas metálicas
            na cor cinza. À frente da sala está o quadro negro, para uso de giz e canetas. Por trás da mesa dos alunos,
            uma janela grande permite a entrada de luz natural, iluminando o espaço e oferecendo conforto para as crianças.
        </p>

        <div class="galeria">
        <img src="../static/assets/salas1.webp" class="imgsI" />
        <img src="../static/assets/imagem3-1.webp" class="imgsI" />
        <img src="../static/assets/salas3.jpg" class="imgsI" />
</div>

        <button class="botI">1° ano</button>
        <button class="botI">2° ano</button>
        <button class="botI"> 3° ano</button>
        <!-- segunda imagem com texto -->

        <h3 class="HTitulo2">Salas usadas pelo ensino fundamental (4° ao 6° ano)</h3>

        <p class="PdescII">O ambiente é organizado de forma simples e funcional. Em cada canto da parede do fundo, dois armários pequenos
            que guardam os materiais coletivos da turma.  Logo acima deles, dois quadros de avisos azuis são fixados na parede,
            sendo um menor que o outro.
        </p>

        <br />

        <p class="Pdesc-2">
            O chão é ocupado por mesas e cadeiras de cores vibrantes – as mesas são azuis, e as cadeiras
            têm assentos e encostos coloridos, e contrastando com a praticidade de suas patas metálicas
            na cor cinza. À frente da sala está o quadro negro, para uso de giz e canetas. Por trás da mesa dos alunos,
            uma janela grande permite a entrada de luz natural, iluminando o espaço e oferecendo conforto para as crianças.
        </p>

            <div class="galeria">
        <img src="../static/assets/salas1.webp" class="imgsII" />
        <img src="../static/assets/imagem3-1.webp" class="imgsII" />
        <img src="../static/assets/salas3.jpg" class="imgsII" />
</div>

        <button class="botII">4° ano</button>
        <button class="botII">5° ano</button>
        <button class="botII">6° ano</button>


        <!--- terceira imagem com texto  --->

        <h3 class="HTitulo3">Salas usadas pelo ensino fundamental (7° ao 9° ano)</h3>

        <p class="PdescIII">O ambiente é organizado de forma simples e funcional. Em cada canto da parede do fundo, dois armários pequenos
            que guardam os materiais coletivos da turma.  Logo acima deles, dois quadros de avisos azuis são fixados na parede,
            sendo um menor que o outro.
        </p>

        <br />

        <p class="Pdesc-3">
            O chão é ocupado por mesas e cadeiras de cores vibrantes – as mesas são azuis, e as cadeiras
            têm assentos e encostos coloridos, e contrastando com a praticidade de suas patas metálicas
            na cor cinza. À frente da sala está o quadro negro, para uso de giz e canetas. Por trás da mesa dos alunos,
            uma janela grande permite a entrada de luz natural, iluminando o espaço e oferecendo conforto para as crianças.
        </p>

                <div class="galeria">
        <img src="../static/assets/salas1.webp" class="imgsIII" />
        <img src="../static/assets/imagem3-1.webp" class="imgsIII" />
        <img src="../static/assets/salas3.jpg" class="imgsIII" />
</div>

        <button class="botIII">7° ano</button>
        <button class="botIII">8° ano</button>
        <button class="botIII">9° ano</button>

    </div>
    
    <div class="rodape"></div>

</body>
</html>
