<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../static/estilos/EstiloLocaisDiversos.css" />
</head>

<body>
    <!--  ../assets/  -->
    <div class="menu">

<ul>
    <li><img class="logo" src="../static/assets/BandRS.jpg"/> <alt class="altP">Texto Grande nome da escola</alt> </li>
</ul>


<ul>
    <li class="LiLink"><a href="pagLocal.html" class="links">Voltar para página anterior</a></li>
</ul>

</div>

    <div class="sala">
        <h2>Sobre nosso Pátio e espaço de lazer</h2>


        <!--- imagem com texto --->

        <p class="Pdesc">
        texto padrão serve de auxílio apenas para preencher espaço desse p, vai ser usado desde Laboratório até Quadra e, assim,
        quando necessário será alterado conforme as descrições que forem solicitadas das escolas, se quiserem usar esse layout de site.
        </p>

        <br />

        <p class="Pdesc-1">
        texto padrão2 serve de auxílio apenas para preencher espaço desse p, vai ser usado desde Laboratório até Quadra e, assim,
        quando necessário será alterado conforme as descrições que forem solicitadas das escolas, se quiserem usar esse layout de site.
        </p>

        <div class="galeria">
        <img src="../static/assets/imagem3-4.webp" class="imgsI" />
</div>

    </div>
    
    <div class="rodape">
        <p class="rodapeP">Copyright © 2025 Ifsul. All rights reserved.</p>
</div>

</body>
</html>
