<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/estilos/estiloInicial.css">
</head>

<body>
    <div class="conteudo">
        <header class="conteudo-nav">
            <nav class="nav-interior">
                <img src="../static/assets/logo.png" alt="">
                <h1 class="texto-destaque">Escola <br>Nome Template</h1>
                <div class="nav-links">
                    <a href="corpoDocente.html">Corpo</a>
                    <a href="pagLocal.html">Locais</a>
                </div>
            </nav>
        </header>
        <div class="conteudo-imagens">
            <img src="../static/assets/imagem3-1.webp" alt="">
            <img src="../static/assets/imagem3-5.jpg" alt="">
            <img src="../static/assets/imagem3-6.webp" alt="">
        </div>
        <div class="conteudo-texto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit obcaecati animi necessitatibus enim maiores
                deserunt distinctio laborum mollitia eum delectus impedit repudiandae consequuntur quasi cum fuga
                accusantium alias, facere omnis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                deleniti deserunt nam quasi mollitia voluptatum eius impedit ullam eum eaque dicta, nesciunt quod!
                Expedita nihil, maiores quas quasi error non.</p>
            <img src="../static/assets/imagem3-2.JPG" alt="">
            <img src="../static/assets/imagem3-4.webp" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, aliquid. Nesciunt, repellendus? Debitis
                fuga totam autem perspiciatis ullam dolorem dicta voluptate corrupti laboriosam distinctio, molestias,
                sit dolores eveniet harum fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum
                quis corporis dolorum, in molestiae, assumenda atque hic consequatur amet unde, a itaque rerum cumque
                natus quasi sapiente ratione minima?</p>
        </div>
    </div>
</body>

</html>