<html>
    <head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="../static/estilos/estiloLocal.css"/>
<link rel="stylesheet" href="../static/estilos/style.css">
<script src="../static/estilos/ScriptLocal.js"></script>

</head>

    <body>

     <header>
        <div class="logo">
            <img src="../static/assets/BandRS.jpg" alt="">
            <h1>Escola Nome Template</h1>
        </div>
        <nav>
            <a href="pagInicial.html">Início</a>
            <a href="pagLocal.html">Locais</a>
            <a href="corpoDocente.html">Corpo Docente</a>
        </nav>
    </header>


<section class="secao_item">
    <div class="item">
        <h2 class="item_titulo">Salas de Aula</h2>
        <p class="item_descricao">Temos diversas salas de aula que turmas da manhã e tarde utilizam para
realizar atividades escolares do dia a dia.</p>
        <img class="item_imagem" src="../static/assets/imagem_sala.jpg" alt="">
    </div>

    <div class="item">
        <h2 class="item_titulo">Quadra</h2>
        <p class="item_descricao">A quadra é usada para aulas de educação física, jogos de basquete, futebol, vôlei
e entre outros, contemplando vivência dos alunos com atividades físicas saudáveis</p>
        <img class="item_imagem" src="../static/assets/imagem_quadra2.jpg" alt="">
    </div>

    <div class="item">
        <h2 class="item_titulo">Laboratório</h2>
        <p class="item_descricao">Nosso(s) laboratório(s) visam impulsionar primeiro contato dos alunos com informática e tecnologia,
acaso não tenham em casa, podemos fornecer e ser exemplo para esses alunos que não tem oportunidade.</p>
        <img class="item_imagem" src="../static/assets/imagem_laboratorio.JPG" alt="">
    </div>

    <div class="item">
        <h2 class="item_titulo">Biblioteca</h2>
        <p class="item_descricao">Nossa biblioteca conta com acervo de vários livros diferentes com objetivo de chamar alunos para
estimular suas habilidades de leitura e aprendizado para no futuro terem mente mais instigante</p>
        <img class="item_imagem" src="../static/assets/imagem_biblioteca.jpeg" alt="">
    </div>
</section>

<div class="carrossel_botoes">
    <button data-slide="0">Salas</button>
    <button data-slide="1">Quadra</button>
    <button data-slide="2">Laboratório</button>
    <button data-slide="3">Biblioteca</button>
</div>



    

 <footer>
        <p>© 2025 IFSul - Todos os direitos reservados.</p>
    </footer>

    </body>
</html>
